ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.signup {
    float: right
}
.login {
    float: right
}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left;
    vertical-align: top;
    resize: none;
}
    
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  form {
    margin: 20px;
  }

  .submit{
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  #char-count {
    display: block;
    margin-top: 10px;
  }

  .submit:hover {
    background-color: #111;
  }

  /* .sentiment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.sentiment-bar {
    width: 100%;
    height: 20px;
    background: linear-gradient(to right, red, yellow, green);
    border-radius: 10px;
    position: relative;
    transition: background 0.3s ease;
}

.sentiment-face {
    font-size: 2rem;
    margin-top: 10px;
    transition: font-size 0.3s ease;
} */

.gradient-background {
    background: linear-gradient(to right, #4facfe, #00f2fe);
    min-height: 100vh;
    color: white;
}

.navbar {
    margin-bottom: 20px;
}

.sentiment-container {
    margin-top: 20px;
}

.sentiment-bar {
    background-color: #4facfe;
}

.sentiment-face {
    font-size: 2rem;
    color: white;
}

