ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.signup {
    float: right
}
.login {
    float: right
}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left;
    vertical-align: top;
    resize: none;
}
    
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  form {
    margin: 20px;
  }

  .submit{
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  #char-count {
    display: block;
    margin-top: 10px;
  }

  .submit:hover {
    background-color: #111;
  }

.gradient-background {
    background: linear-gradient(to right, #4facfe, #00f2fe);
    min-height: 100vh;
    color: white;
}

.navbar {
    margin-bottom: 20px;
}

.sentiment-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.sentiment-bar {
    flex: 1;
    height: 20px;
    border-radius: 4px;
    margin-right: 10px;
}

.sentiment-face {
    font-size: 24px;
}
.sentiment-bar-container {
    width: 100px; /* Adjust the width of the container */
    height: 20px;
    background-color: black; /* The empty portion of the bar */
    border-radius: 10px;
    overflow: hidden; /* Ensures the green bar stays within bounds */
    position: relative;
}

.sentiment-bar {
    height: 100%;
    background-color: green; /* The green portion of the bar */
    width: 0%; /* Initially empty */
    border-radius: 10px; /* Rounds the edges of the green bar */
    transition: width 0.5s ease; /* Smooth transition when the width changes */
}

.sentiment-face {
    font-size: 2rem;
}
