*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.gradient-background {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
  }
  
  .profile-img {
    border-radius: 50%;
    height: 100px;
  }
  
  #title {
    padding-bottom: 50px;
  }

  h1 {
    color: #333;
  }
  
  .btn-primary {
    background-color: #4facfe;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #00c6ff;
  }
  
.text-center {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family:dancing script;
}
.mic {
    width: 20px;
    height: 20px;
    vertical-align:middle;
    border-radius: 50%;
    
}
.custom-font {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}